
html, body {
    min-height:100%;
    margin: 0;
    font-family: Arial, sans-serif;
} 
:root {
    --text-color: white;
    --background-color: black;
    --color: red;
    --background-color: #FF6565;
    --border-radius: 2px solid;

}

.header {
    background-image: url("headphones_hero_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position: center; 
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1% 5% 12% 5%;
    }
.navigation img {
    height: 30px;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 20px
}

a {
    text-decoration: none;
    color: var(--text-color);
}
a:hover, a:active {
    color: var(--color);
}
.header h1 {
    color: var(--text-color);
    text-align: center;
    margin-bottom: -1%;
}
.header p {
    color: var(--text-color);
    text-align: center;
    padding-bottom: 1%;
}
.header .par_1 {
    padding-top: 5%;
    padding-bottom: 6%;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}
.header .btn{
    background-color: var(--background-color);
    border: none;
    color: var(--text-color);
    width: 162px;
    height: 44px;
    padding: 0 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
.header .btn:hover {
    opacity: 0.9;
}
.header .btn:active {
    opacity: 0.9;
}

.checkbtn {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    position: absolute;
    top: 10px;
    left: 10px;
}
#check {
    display: none;
}

.first_par {
    padding-top: 1%;
    padding-bottom: 6%;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.second_section .container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 7%;

}
.second_section h1 {
    text-align: center;
    margin-top: 5%;
    font-size: 30px;
}
#icon{
    font-size: 500%;
    color: var(--background-color);
}
.span_icon {
    width: 15%;
    padding-left: 2%;
    padding-right: 2%;

}







    
@media (max-width: 480px) {
        ul {
        position: fixed;
        flex-direction: column;
        width: 100%;
        top: -100%;
        left: 20px;
        padding: 10px 0;
        text-align: center;
        transition: all .5s;
    }
    .navigation ul li {
        display: flex;
        text-align: center;
        font-weight: bold;
        justify-content: center;
    }
    .header .par_1{
        width: 70%;
        margin-top: 65px;
        margin-bottom: 106px;
    }
    .checkbtn {
        display: block;
    
    }
    #check:checked ~ul {
        top: 0;
    }
    #check:checked ~button {
        margin-top: 100px;
    }
    .header h1 {
        width: 65%;
        margin-bottom: -1%;
        margin-top: 40%;
        margin-left: auto;
        margin-right: auto;
    }
    .navigation img {
        margin-left: 150px;
        margin-right: auto;    
    }
    .header p {
        width: 45%;
        margin-left: auto;
        margin-right: auto;
    }
    p .par_1 {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .text {
        padding-bottom: 1%;
    }
    #check:checked ~ ul {
        float: inline-end;
    }
    .second_section .container {
        flex-direction: column;
    }
    .first_par {
        width: 60%;
    } 
    .span_icon {
        width: 50%;
    }

}


