
html, body {
    min-height:100%;
    margin: 0;
} 

.header {
    background-image: url("headphones_hero_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-position: center; 
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1% 5% 12% 5%;
    }
.navigation img {
    height: 30px;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 20px
}

a {
    text-decoration: none;
    color: white;
}
a:hover, a:active {
    color: red;
}
.header h1 {
    color: white;
    text-align: center;
    margin-bottom: -1%;
}
.header p {
    color: white;
    text-align: center;
    padding-bottom: 1%;
}
.header .par_1 {
    padding-top: 5%;
    padding-bottom: 6%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.header .btn{
    background-color: #FF6565;
    border: none;
    color: white;
    width: 162px;
    height: 44px;
    padding: 0 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
.header .btn:hover {
    opacity: 0.9;
}
.header .btn:active {
    opacity: 0.9;
}

.checkbtn {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
}
#check {
    display: none;
}

.checkbtn span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}
.first_par {
    padding-top: 5%;
    padding-bottom: 6%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.second_section .container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 7%;

}
#icon{
    font-size: 500%;
    color: #FF6565;
}
.span_icon {
    width: 15%;
    padding-left: 2%;
    padding-right: 2%;
}
.results {
    background: url(headphones_hero_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    color: white;
}
.pentagone_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 0 15% 7% 15%;
}
.pentagone_image {
    height: 150px;
}
.pentagone {
    position: relative;
}
.inside_text {
    position: absolute;
    top: 10px;
    left: 30px;
}
.pentagone p {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: -7%;

}
.pentagone p+p {
    font-size: 13px;
    font-weight: lighter;
}









    
@media (max-width: 760px) {
    .navigation ul {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 50px;
        left: 0;
        padding: 10px 0;
        z-index: 1;
    }

    .navigation ul li {
        margin: 10px 0;
        text-align: center;
    }

    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .header h1 {
        width: 60%;
        margin-bottom: -1%;
        margin-left: auto;
        margin-right: auto;
    }
    .navigation img {
        margin-left: auto;
        margin-right: auto;    
    }
    #check:checked ~  ul {
        left: 0;
    }
    .second_section .container {
        flex-direction: column;    
    }
    .span_icon {
        padding-bottom: 10%;
    }
    .pentagone_container {
        flex-direction: column;
    }
    .pentagone {
        padding-bottom: 10%;

    }
    .results .first_par {
        padding-top: 15%;
    }
}


